# URLS
##Example URL: 'http://localhost:5000/catalog.rdf?q=organization:test'
CKAN_CATALOG_URL=http://localhost:5000/catalog.rdf
## The catalog files are downloaded to the ./log/mqa/catalog_{today's date} folder.

# PATH
APP_DIR=/app
TZ=UTC

# MQA INFO
## DCAT-AP Version (Avalaibles: 2.0.1, 2.1.0, 2.1.1)
DCATAP_FILES_VERSION=2.1.1
# Update vocabs from the EU Publications Office
UPDATE_VOCABS=True
## CKAN Metadata elements type: "ckan_uris" for GeoDCAT-AP schema with all elements described by URIs (e.g. dct:format = <http://publications.europa.eu/resource/authority/file-type/XML>) or "ckan" if used a default schema with elements (e.g. dct:format = "XML").
CKAN_METADATA_TYPE=ckan_uris

#DEV
MQA_DEV_PORT=5678