.pdm.toml
*.db
pycsw.conf
.venv/*
.vscode
__pycache__
log/*.log
log/mqa/*
!log/mqa/README.md
metadata/*
!metadata/README.md
.env
data/*
!data/README.md
!data/catalog.rdf
results/*
!results/README.md
.pdm-python
ckan2mqa/assets/vocabs/updates/*
!ckan2mqa/assets/vocabs/updates/download_vocabs.py

